*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Ropa Sans', sans-serif;
}

a{
	text-decoration: none;
	color: black;
}
li{
	list-style: none;
}
body{
	overflow-y: hidden;
	
}
/*Nav bar */
#navbar{
	width: 100vw;
	height: 80px;
	box-shadow: 0 2px 2px 1px lightgrey;
	position: fixed;
	top: -20%;
	left: 0;
	z-index: 99;
	opacity: 0;
	background-color: rgba(255,255,255,0.9);
}
#navbar nav ul{
	display: flex;
	height:80px;
	justify-content: center;
	align-items:center;
}
#navbar nav ul a{
	margin:0 15px;
}




#home{
	position: relative;
	height: 100vh;
}

.home-content{
	position: absolute;
	top: 25%;
	left: 0;
	margin-left:30px;
	height: auto;
}
.home-content h1{
	font-family: Ropa Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 70px;
	line-height: 80px;
	letter-spacing: 0.04em;
}
.btn{
	
	font-size: 20px;
	margin-top: 10px;
	padding: 10px;
	width: 150px;
	background-color:#41EAAD;
	text-align: center;
	box-shadow: 0 1px 2px 0 grey;
	color: white;
	outline: none;
	border:none;
}

.panel{
	position: absolute;
	right: 0;
	bottom:0;
	max-width:calc(100vw - 60%);
	height:100%;
	background-color:#8DE6C6;
	transform: scaleY(0);
	transform-origin: bottom;

}

.about-us{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 100px;
	text-align: justify;
	opacity: 0;

}
.about-us h1{
	font-size: 35px;
	padding-bottom: 15px;
}

.about-us p{
	font-size: 20px;
	line-height: 1.5;
	padding-top: 20px;
	border-top: 3px solid white;
	color:rgba(0,0,0,0.8);
}


#events{
	height:auto;
	position: relative;
	overflow-x: hidden;
	text-align: center;
	padding: 50px 150px;

}
#events::before{
	content: '';
	position: absolute;
	top: 20%;
	left: -10%;
	height: 250px;
	width: 250px;
	border-radius: 50%;
	background-color: #8DE6C6;
	z-index: -1;
}
#events::after{
	content: '';
	position: absolute;
	top: 50%;
	right: -10%;
	height: 250px;
	width: 250px;
	border-radius: 50%;
	background-color: #8DE6C6;
	z-index: -1;
}

#events::after:hover{
	border-radius: 5%;
}

#events h1,#projects h1,#gallery h1,#team h1,#contact h1{
	font-size: 35px;
	padding-top:80px;
	padding-bottom: 30px;
}

#events p,#projects p{
	margin-top:20px;
	font-size: 20px;
	line-height: 1.5;
	
}


.cards{
	display: grid;
	grid-row-gap: 40px;
	padding-top: 50px;
	text-align: justify;
}
.card{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 2fr;
	box-shadow: 0 0 2px 0 lightgrey;
	border-radius: 10px;
	box-shadow: 1px 2px 9px 6px rgba(224,224,224,0.81);
	transition: all 0.5s ease;
}
.card p{
	padding:30px;
}
.card img{
	min-height: 250px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	width: 100%;
}
.card:hover{
	transform:scale(1.02);
	background-color:rgba(65,234,173,0.4);
	box-shadow: 0.5px 1px 2px 6px rgba(224,224,224,0.81);
}

#projects{

	overflow-x: hidden;
	overflow-y: hidden;
	text-align: center;
	padding: 0 150px;
}

.vt-cards{
	display: grid;
	grid-template-columns: auto auto;
	padding-top: 60px;
	place-items:center;
}

.vt-card{
	height: 350px;
	width:300px;
	box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
	position: relative;
	text-align: center;
	background-color: white;
	border-radius: 2%;
}
.vt-card img{
	width: 100%;
	height: 100%;
}
.crd-btn{
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translate(-50%,0);
	background-color: #feb9c8;
	border-radius: 100px;
}

.modal {
	display: none;
  position: fixed;
  z-index: 10; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color:#8DE6C6;
  transform: scaleX(0);
  transform-origin: left;
}

.close{
	opacity: 0;
	float: right;
	margin: 100px;
	transition: all 0.2s ease-in;

}
.close:hover{
	transform: rotate(90deg);
}
.modal-content{
	position: absolute;
	top: 20%;
	left: 5%;
	text-align: left;
	opacity: 0;
}
.modal-header{
	font-size: 100px;
}
.modal-para{
	padding-top: 50px;
}
.modal-para ul li{
	font-size: 20px;
	padding-top: 5px;
}


#gallery{
	padding:100px 150px;
	text-align: center;
	height: auto;
	position: relative;
	z-index: 2; 
}

.imgboard{
	display: flex;
	flex-wrap:wrap;
	flex-direction: row;
	justify-content: center;
	align-items:center;
	padding-top: 50px;
}
.image{
	width: 300px;
	height: 300px;
	margin: 5px;
	box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
	justify-content:space-between;
	border-radius: 10px;
}


#team{
	text-align: center; 
	height: 100vh;
	background-image: linear-gradient(to top, #8de6c6, #9bedef, #c3f1ff, #eaf5ff, #ffffff);
}

.teamboard{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	margin-top: 50px;
	place-items:center;
}

.profile img{
	position: absolute;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	left: 25%;
	top: -10%;
	border:2px solid white;
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
}
.caption{
	position: absolute;
	top: 40%;
	left: 0	;
	width: 100%;
	text-align: center;
	
}
.caption h2{
 	margin: 20px;
}
.profile{
	transition: all 0.7s ease;
}
.profile:hover {
	background-color: rgba(65,234,173,0.4);
	transform: translateY(-20px);
}
.far{
	font-size: 40px;
	padding-top: 20px;
}

#contact{
	background-image: linear-gradient(to top, #ffffff, #eaf5ff, #c3f1ff, #9bedef, #8de6c6);
	display: grid;
	place-items:center;
}

#contact-card{
	box-sizing: content-box;
	margin: 0 10%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 80%;
	box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.5);
	margin:50px;
}
#contact-info{
	background-color:#8de6c6;
	height: 100%;
	width: 100%;
	padding: 10%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	
	
}
#contact-icons{
	box-sizing: border-box;
	background-color: #1C6170;
	height: 100%;
	width: 100%;


}

#contact-info h1{
	margin:0; 
	padding-bottom:50px;
	font-size: 4em;
	font-family: 'Merriweather', serif;
	
}
#contact-info p{
	text-align: justify;
}
#contact-icons{
	display: grid;
	grid-template-rows: 1fr;
	padding: 10%;
	place-items:center;
}
#icon-box{
	display: flex;
	flex-direction: column;
}
.icons{
	display: grid;
	margin: 15px 0;
	place-items:center;
	
}
.icons img{
	width: 100px;
	height: 100px;
}

.download-btn{
	width: 200px;
	display: block;
	border-radius: 50px;
}

footer{
	height: 150px;
	background-color: #1C6170;
}